<!DOCTYPE html>
<html lang="de-DE">
<head>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>DBS Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
</head>
<body>
<section class="hero is-small">
  <div class="hero-body">
    <p class="title">
      DBS Project 2021
    </p>
    <p class="subtitle">

    </p>
  </div>
</section>
<section class="section has-background-primary">
    <div class="container">
        <div class="columns">
        {% for col in columns %}
            <div class="column">
                <form name="columnForm-{{ col['id'] }}" class="box">
                    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="text" placeholder="Enter country..."
                                   name="country" id="country"/>
                        </p>
                        <p class="control">
                            <button class="button" onclick="setCountry('{{ col['id']  }}')" type="button">
                                Go
                            </button>
                        </p>
                    </div>
                </form>
                {% for ep in endpoints %}
                    <img hidden class="box" id="{{ ep }}-container-{{ col['id']  }}"
                         src="http://localhost:5000/{{ ep }}?country={{ col['country'] }}"
                         alt="Bild">
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>
</body>
</html>