<!DOCTYPE html>
<html lang="de-DE">
<head>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>DBS Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <form name="columnForm-one" class="box">
                    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="text" placeholder="Enter country..."
                                   name="country" id="country"/>
                        </p>
                        <p class="control">
                            <button class="button" onclick="setCountry('one')" type="button">
                                Go
                            </button>
                        </p>
                    </div>
                </form>
                <img class="box" id="population-total-container-one"
                     src="http://localhost:5000/population-total?country=Germany"
                     alt="Bild">

                <img class="box" id="co2-emission-container-one" src="http://localhost:5000/co2-emission?country=Germany"
                     alt="Bild">
                <img class="box" id="co2-per-capita-container-one"
                     src="http://localhost:5000/co2-per-capita?country=Germany"
                     alt="Bild">
            </div>

            <div class="column">
                <form name="columnForm-two" class="box">
                    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="text" placeholder="Enter country..."
                                   name="country" id="country"/>
                        </p>
                        <p class="control">
                            <button class="button" onclick="setCountry('two')" type="button">
                                Go
                            </button>
                        </p>
                    </div>
                </form>
                <img class="box" id="population-total-container-two"
                     src="http://localhost:5000/population-total?country=Germany"
                     alt="Bild">
                <img class="box" id="co2-emission-container-two" src="http://localhost:5000/co2-emission?country=Germany"
                     alt="Bild">
                <img class="box" id="co2-per-capita-container-two"
                     src="http://localhost:5000/co2-per-capita?country=Germany"
                     alt="Bild">
            </div>
        </div>

    </div>


</section>
</body>
</html>